<!doctype html>
<html>

<head>
    <link href='static/css/dash.css' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="static/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="static/js/socket.io.min.js"></script>
    <script type="text/javascript" src="static/js/plotly.min.js"></script>
    <script type="text/javascript" src="static/js/layoutState.js"></script>
    <script type="text/javascript" src="static/js/plotlyEmbed.js"></script>

</head>

<body>

    {% block content %}{% endblock %}

</body>

</html>
